@-webkit-keyframes animatedGradientBackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes animatedGradientBackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes animatedGradientBackground {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}
