@font-face {
    font-family: 'icomoon';
    src: url('../fonts/IcoMoon/icomoon.eot?ver1');
    src: url('../fonts/IcoMoon/icomoon.eot?ver1#iefix') format('embedded-opentype'),
        url('../fonts/IcoMoon/icomoon.ttf?ver1') format('truetype'),
        url('../fonts/IcoMoon/icomoon.woff?ver1') format('woff'),
        url('../fonts/IcoMoon/icomoon.svg?ver1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}