html,
body {
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

body {
    color: $white;
    font-family: $font-base;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    background: linear-gradient(60deg, $blue, $blue-2);
    background-size: 400% 400%;
    -webkit-animation: animatedGradientBackground 10s ease infinite;
    -moz-animation: animatedGradientBackground 10s ease infinite;
    animation: animatedGradientBackground 10s ease infinite
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    outline: none;
}

[class^="icon-"],
[class*=" icon-"] {
    @include icon;
}
