.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    h1 {
        @include font-size(115px);

        font-weight: 600;
        text-align: center;
        white-space: pre-line;

        span {
            color: $blue-3;
            background: linear-gradient(60deg, $blue-4, $blue-5);
            background-size: 400% 400%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -webkit-animation: animatedGradientBackground 10s ease infinite;
            -moz-animation: animatedGradientBackground 10s ease infinite;
            animation: animatedGradientBackground 10s ease infinite
        }
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;

        li {
            @include font-size(30px);

            color: $white;
            margin: 100px 10px 20px 10px;
            display: block;

            a {
                color: inherit;
                overflow: hidden;
                display: block;
                position: relative;
                transition: .3s cubic-bezier(0.13, 0.38, 0.45, 0.94);

                .outer {
                    position: absolute;
                    top: 0;
                    left: 0;
                    overflow: hidden;
                    color: $blue-4;
                    transform: translateX(-100%);
                }

                .inner {
                    display: inline-block;
                    transform: translateX(100%);
                }

                .outer,
                .inner {
                    transition: transform 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02);
                }

                &:hover {

                    .outer,
                    .inner {
                        transform: none;
                    }
                }
            }
        }
    }
}
